<mat-card>
  <mat-card-title>Support</mat-card-title>
  <mat-card-content>
    <p>
      This app is free to use for the gaming community.
      And it is not free to host.
    </p>
    <p>
      If you enjoy this app please consider a recurring donation of <b>$2</b> per month or
      a one time donation of any amount because that will offset hosting costs.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://www.paypal.com/donate/?hosted_button_id=GYJ8YCZ53ZUB2">
      <button mat-flat-button color="primary" id="donate">
        <span>donate</span>
      </button>
    </a>
  </mat-card-actions>
</mat-card>

